ion-card {
  min-height: 20vh;
  max-height: 20vh;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  ion-card-title {
    font-size: 2vh;
    font-weight: 600;
  }

  ion-card-subtitle {
    font-size: 1.3vh;
  }

  ion-card-content {
    p {
      font-size: 1.5vh;
    }
  }
}

.float-right {
  float: right;
}

.index {
  z-index: 2;
}
