<ion-list class="ion-margin">
  <ng-container *ngFor="let item of fields">
    <ion-item *ngIf="!item.check && !item.select && item.type !== 'dateTime'">

              <!-- Required item -->
        <ion-label *ngIf="item.required" position="{{item.position}}">{{item.name}} *</ion-label>
              <!-- Non Required Item-->
        <ion-label *ngIf="!item.required" position="{{item.position}}">{{item.name}} </ion-label>

              <!-- Item has accept property -->
        <ion-input  *ngIf="item.accept" accept="{{item.accept}}" required={{item.required}} type={{item.type}} (change)="pickFile($event, item)" name="teste"></ion-input>
              <!-- Item hasn't accept property -->
        <ion-input *ngIf="!item.accept" required={{item.required}} type={{item.type}} [(ngModel)]="item.answer"  name="teste"></ion-input>

    </ion-item>

          <!-- Checkbox -->
    <ion-item *ngIf="item.check === true">
      <ion-checkbox (ionChange)="checkBox($event, item)"></ion-checkbox>
          <!-- Required item -->
      <ion-label *ngIf="item.required" class="ion-margin-start">{{item.name}} *</ion-label>
          <!-- Non Required Item-->
      <ion-label *ngIf="!item.required" class="ion-margin-start">{{item.name}}</ion-label>
    </ion-item>

          <!-- Select input -->
    <ion-item *ngIf="item.select === true">

          <!-- Required item -->
      <ion-label *ngIf="item.required">{{item.name}} *</ion-label>
          <!-- Non Required item -->
      <ion-label *ngIf="!item.required">{{item.name}}</ion-label>

        <ion-select [(ngModel)]="item.answer" multiple="{{item.multiple}}" placeholder="{{item.placeholder}}">
          <ng-container *ngFor="let a of item.options">
            <ion-select-option value={{a}}>{{a}}</ion-select-option>
          </ng-container>
        </ion-select>
    </ion-item>

    <!-- Date Time -->
    <ng-container *ngIf="item.type === 'dateTime'" locale="pt-BR">
      <ion-item class="ion-margin-top">

        <ion-input placeholder="Data de Nascimento"[ngModel]="item.answer | date: 'dd/MM/yyyy'"></ion-input>

        <ion-button fill="clear" id="open-date-input-2">
          <ion-icon icon="calendar"></ion-icon>
        </ion-button>

        <ion-popover trigger="open-date-input-2" show-backdrop="true" size="auto">
          <ng-template>
            <ion-datetime
            [(ngModel)]="item.answer"
            mode="md" size="cover"
            showClearButton
            clearText="Limpar"
            color="secondary"
            #popoverDatetime2
            presentation="date"
            ></ion-datetime>
          </ng-template>
        </ion-popover>
      </ion-item>
    </ng-container>

  </ng-container>

  <p class="button ion-margin">
    <ion-button (click)="submit()">
      <ion-label>Enviar</ion-label>
    </ion-button>
  </p>
</ion-list>
